<ion-view>
    <ion-side-menus enable-menu-with-back-views="true">



        <!--<ion-side-menu-content drag-content="canDrag">-->
        <ion-side-menu-content  drag-content="true">


            <ion-nav-bar class='bar bar-positive custom-color mynavbar {{classMenuTopo}}'  align-title="center">

                <ion-nav-back-button class="button-icon ion-arrow-left-c" side="left">

                </ion-nav-back-button>



                <ion-nav-buttons side="right">
                    <button class="button button-icon button-clear ion-navicon topo-menu" ng-click="toggleLeft()">
                        <span class="badge badge-assertive">{{messages.length}}</span>
                    </button>
                </ion-nav-buttons>

            </ion-nav-bar>

            <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>


            <ion-footer-bar class="bar-stable footer">
                <!--<ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;;">Logout</ion-item>-->
                <img class="img-responsive" src="img/rodape.png">
            </ion-footer-bar>


        </ion-side-menu-content>


        <ion-side-menu class="container-side-menu" side="right" >

            <ion-header-bar class="bar-assertive background-white">
                <h1 class="title">Menu</h1>
            </ion-header-bar>

            <ion-content>
                <div class="list">
                    <div class="item item-avatar">
                        <img ng-src="{{user.photo}}">
                        <h2>{{user.name}}</h2>
                    </div>

                    <a class="item" ui-sref="" ng-click="notaPerfil()">
                        <i class="icon ion-compose"></i>
                        <label>Notas de Perfil</label>
                    </a>

                    <a class="item" ui-sref="app.chat" ng-hide="currentView == 'app.foto'">
                        <i class="icon ion-email"></i>
                        <label>Mensagens</label>
                        <span class="badge badge-assertive">{{messages.length}}</span>
                    </a>



                    <a class="item" menu-close ng-click="logoff()" ng-hide="currentView == 'app.foto'">
                        <label>Sair</label>
                    </a>

                </div>
            </ion-content>
            <ion-footer-bar class="bar-stable footer">
                :)
                <!--<ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;;">Logout</ion-item>-->
            </ion-footer-bar>

        </ion-side-menu>


    </ion-side-menus>

</ion-view>
