<ion-view>

    <ion-nav-bar class='bar bar-positive custom-color mynavbar' align-title="center">
        <ion-nav-back-button class="button-icon ion-arrow-left-c" side="left">
        </ion-nav-back-button>
        <ion-nav-title class="title-secundary center custom-color">
            <div class="row">
                <div class="col-sm-12 ">
                    <h1>Conectado ao Servidor</h1>
                    <hr/>

                </div>
            </div>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content class="container-confirmacao">
        <!--<div class="container-fluid fundo-inner padding-inner border ">

        </div>-->

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 wrapper-label">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="label-confirmacao">O seu nome é {{user.user_initial_information}} ?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="col-sm-6" ng-click="cancelar()">
                                <button class="button button-full cancel">NÃO</button>
                            </div>
                            <div class="col-sm-6" ng-click="nextState()">
                                <button class="button button-full save">SIM</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </ion-content>

</ion-view>