
<ion-view view-title="foto">
    <ion-nav-title class="title-label">


    </ion-nav-title>

    <ion-content class='foto-wrapper collapse-content'>

        <div class="row-center">
            <div class="container-fluid ">

                <div class="col-sm-12 name-top fundo-inner">
                    <div class="col-sm-12 title-label center">
                        <hr/>
                        <h1 class="">
                            <h1>{{user.name}} {{user.lastname}}</h1>
                        </h1>
                        <hr/>
                    </div>
                </div>

                <div class="col-sm-12 container-foto">
                    <div class="col-sm-4 col-xs-12 wrapper foto">
                        <div class="col-md-12">
                            <img  class="img-responsive center" ng-src="{{user.photoPath}}" style="text-align: center">
                        </div>
                        <div class="col-md-12">
                            <button class="button button-block button-assertive button-foto" ng-click="picture()">
                                <i class="icon ion-camera"></i>
                                Tirar Foto
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-8  col-xs-12 wrapper foto black">
                        <!--Dados Cadastrais-->
                        <div class="col-sm-12">
                            <div class=" ">

                                <div class="list fields">
                                    <label class="item item-input">
                                        <span class="input-label">Nome</span>
                                        <input type="text" ng-model="userCadastro.name">
                                    </label>

                                    <label class="item item-input">
                                        <span class="input-label" >Sobrenome</span>
                                        <input type="text" ng-model="userCadastro.lastname">
                                    </label>

                                    <label class="item item-input">
                                        <span class="input-label" >Email</span>
                                        <input type="text" ng-model="userCadastro.email">
                                    </label>
                                </div>


                            </div>
                        </div><!--Dados Cadastrais-->

                        <!--Buttons-->
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-sm-offset-6">
                                <div class="col-sm-6">
                                    <button class="button button-positive button-block cancel" ng-click="logoff()">Cancelar</button>
                                </div>

                                <div class="col-sm-6">
                                    <button class="button button-positive button-block save " ng-click="nextState()">Salvar</button>
                                </div>

                            </div>
                        </div>
                        <!--Buttons-->
                    </div>


                </div>


            </div>
        </div>





    </ion-content>

</ion-view>
