<ion-view title="Home">

  <ion-content class="padding">

    <div class=" list row responsive-sm responsive-md" >

        <div class="row card" ng-repeat="opcao in opcoes">
            <a href="{{opcao.link}}">
                <div class="item item-body">
                    <img class='full-image' src="..."/>
                    <p>
                        {{opcao.name}}
                    </p>

                </div>
            </a>

        </div>


    </div>

  </ion-content>
</ion-view>
