<ion-view title="Login">

    <ion-nav-bar class='bar bar-positive custom-color' >
      <ion-nav-back-button class="button-icon ion-arrow left-c"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class='padding wrapper container-fluid'>

        <h1 class="title center">
            Login
        </h1>

        <div class="col-sm-8 col-sm-offset-2">
            <form ng-submit="signin()" class="row wrapper-login">


                      <label class="col-sm-8 item item-input item-floating-label">
                          <span class="input-label">Usuário</span>
                          <input type="text" placeholder="Usuário" ng-model='usuario.login'>
                      </label>

                      <button class="col-sm-4 button button-positive" type="submit">Entrar</button>



            </form>
        </div>
    </ion-content>

</ion-view>
