<ion-view title="">
    <ion-nav-title class="title-label">
        <div class="title-label center">
            <hr/>
            <h1>Bem Vindo</h1>
            <h4>{{user.name}}</h4>
            <hr/>
        </div>

    </ion-nav-title>
    <ion-content class="nuvem-container container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-12">
                    <h2>Envie suas expressões</h2>
                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>

                <div class="col-sm-12">
                    <div class="wrapper-nuvem">
                        <input type="text" class="form-control" ng-model="palavra"/>
                    </div>
                </div>
            </div>
        </div>




    </ion-content>

</ion-view>