<ion-view title="Nuvem">
    <ion-content class="padding">

        <h1>Envie sua pergunta</h1>
        <form ng-submit="sendAsk()">
            <div class="list wrapper-login">

                <label class="item item-input item-floating-label">
                    <span class="input-label">Pergunta</span>
                    <textarea ng-model="pergunta"></textarea>
                </label>


            </div>

            <button class="button-block button button-assertive" type="submit">Enviar</button>
        </form>

    </ion-content>

</ion-view>