
<ion-view title="Pergunta">


    <ion-content class='padding'>
        <H1>Pergunta</H1>
        <div class="container-fluid">
            <button class="button center" ng-click="doAsk()">
                Adicionar
            </button>


            <div class="row wrapper black foto ">
                <div class="col-sm-12">
                    <div class="col-sm-1 box blue like-box">
                        Like
                    </div>
                    <div class="col-sm-1 box blue">
                        Voto
                    </div>
                    <div class="col-sm-10 box blue">
                        Texto
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
