
<ion-view view-title="">
    <ion-nav-title class="title-label">
        <div class="title-label center">
            <hr/>
            <h1>Bem Vindo</h1>
            <h4>{{user.name}}</h4>
            <hr/>
        </div>

    </ion-nav-title>
    <ion-content class=''>
        <!--<div class="container-fluid fundo-inner padding-inner border has-header">
            <div class="row">
                <div class="col-sm-12 title-label center">
                    <hr/>
                    <h1>Bem Vindo</h1>
                    <h4>{{user.name}}</h4>
                    <hr/>
                </div>
            </div>
        </div>-->

        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button class="button" ng-click="doAsk()">
                            Adicionar
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h2>Perguntas Enviadas</h2>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="row" ng-repeat="pergunta in myPerguntas">
                        {{pergunta.desc}}
                        <hr/>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
