<ion-view view-title="{{quiz.quiz_name}}">
    <ion-nav-title class="title-label">
        <div class="title-label center">
            <hr/>
            <h1>{{quiz.quiz_name}}</h1>
            <h4>{{slideIndex+1}}/{{total}}</h4>
            <hr/>
        </div>

    </ion-nav-title>
    <ion-content class="container-quiz has-footer">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <ion-slide-box class="col-sm-10 col-sm-offset-1" on-slide-changed="slideHasChanged($index)" ng-init="disableSwipe()">

                    <ion-slide ng-repeat="question in quiz.quiz_question" on-finish-render-slider="ngRepeatFinishedSlider">
                        <div class="quiz">

                            <ion-scroll zooming="false" direction="y" style="width: 100%; max-height: 126px;" >
                                <h1>{{question.quiz_question_name}}</h1>
                            </ion-scroll>
                            <ul class="question">
                                <li ng-repeat="answer in question.quiz_question_answer" ng-click="select(answer,question)" ng-class="answer.class">
                                    <label>
                                        {{convertToLetter($index)}}
                                    </label>
                                    <h3>
                                        {{answer.quiz_question_answer_name}}
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="row save-button" ng-show="saveButton">
                <button class="button save" ng-click="submeterRespostas()">Salvar</button>
            </div>
        </div>
    </ion-content>



</ion-view>