<ion-view view-title="Quiz">
    <ion-nav-title class="title-label">
        <div class="title-label center">
            <hr/>
            <h1>Quiz</h1>
            <hr/>
        </div>

    </ion-nav-title>
    <ion-content>
        <!--ng-hide="user.role.name != 'presenter' "-->
        <div class="container-fluid" >
                <div class="col-sm-12" ng-repeat="quiz in quizies " ng-click="select($index)">
                    {{quiz.quiz_name}}
                    <span class="badge" ng-show="hasAlredyAnswered(quiz.quiz_id)">
                        Answered
                    </span>
                </div>

        </div>
    </ion-content>



</ion-view>