<ion-view view-title="Quiz">


        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="quiz in quizies" on-finish-render-slider="ngRepeatFinishedSlider">
                <div class="quiz">
                    <h1>{{quiz.quiz_name}}</h1>
                </div>
            </ion-slide>
            <!--<ion-slide>
                <div class="quiz">
                    <h1>{{quiz.quiz_name}}</h1>
                </div>
            </ion-slide>-->

        </ion-slide-box>


</ion-view>