<ion-view>
    <ion-nav-title class="title-label">
        <div class="title-label center">
            <hr/>
            <h1>Bem Vindo</h1>
            <h4>{{user.name}} {{user.lastname}}</h4>
            <hr/>
        </div>

    </ion-nav-title>
    <ion-content>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-6">
                <button clas="btn btn-positive button-full" ng-click="createQuiz()">Criar Quiz</button>
            </div>


        </div>
    </ion-content>

</ion-view>