$padding-container:               50px;
$padding-floating:                30px;

$blue-color :                     #0c60ee;
$blue-dark-color:                 $blue-color;
$font-color:                      #fff;

$color-border:                    #ddd;
$color-primary:                   #FFA000;


$black:                           #000000;

$font-white:                      #fff;

$chat-balom-color:                $color-primary;
$chat-balom-border-color:         $color-primary;

$chat-balom-from-color:           #fff;
$chat-balom-from-border-color:    #e7e7e7;