/* import */
@import "utilities/__variables";


.custom-color {
  &.bar.bar-positive{
    background-color: $color-primary;
  }
  background-color: $color-primary;
}



/* CSS */
.center {
  margin: auto;
  display: block;
}
ion-content {
  background-color: $color-primary;
}
.wrapper {
  .title {
    text-transform: uppercase;
    color: $black;
    text-align: center;
    border-top: 1px solid $font-white;
    border-bottom: 1px solid $font-white;
    padding: 15px 0;
    width: 33%;
  }
}

//Login
.wrapper-login{
  .item{
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 1px solid $color-border;
  }
  .item-input input{
    //border:1px solid $black;

  }
  .button{
    &.button-positive{
      background-color: $black;
      height:50%;
      margin-top:5%;
    }
  }
}


//Home
.topo-menu {
  .badge.badge-assertive{
    margin-top: -20px;
    left: -20px;
  }
}






.wrapper {
  &.foto {
    min-height: 60vh;
    .img-responsive {
      text-align: center;
      width: 100%;
      margin: 25% auto;
    }

  }
  &.black{
    background-color: rgba(0, 0, 0, 0.41);
    //padding: $padding-container;
  }

  .box {
    color: #fff;
    border-radius: 20px;
    &.blue {
      background-color: $blue-color;
    }
  }
}


.like-box {
  background-color: $blue-dark-color;
}

.popup-pergunta {
  .popup {
    width: 75%;
    height: 30%;
  }
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: $black;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}


/*CHAT MESSAGES*/
.chat-container{
  background-color: $color-primary;
  border-color: $color-primary;
  .search {
    margin: 0;
    .item {
      background-color: $black;
      border-color: $black;
      border-radius: 0;

      .placeholder-icon:last-child{
        margin-right:20px;
      }
      input {
        border-radius: 0;
        color: $font-white;
      }

    }
  }
  h1{
    text-align: center;
  }
  hr {
    border-color: $black;

  }

  .box {
    background-color: #fff;
    border:1px solid $black;
    display: block;
    margin: auto;
    min-height:60vh;
    position: relative;
    padding: 0;

    .chat {
      ul {
        li {
          padding: 5px;
        }
      }
    }
  }

  //Chat Messages
  .chat-messages{
    .header {
      border-color: transparent;
    }

    .messages {
      li {
        padding: 8px;
        border-radius: 9px;
        margin-top: 10px;
        width: 75%;
        clear: both;

        &.mine {
          border:1px solid $chat-balom-color;
          background-color: $chat-balom-color;
          border-color: $chat-balom-border-color;
          text-align: left;

        }

        &.from {
          border:1px solid $chat-balom-from-color;
          background-color: $chat-balom-from-color;
          border-color: $chat-balom-from-border-color;
          text-align: right;
          float: right;
          display: block;
        }
      }
    }
  }

}