@charset "UTF-8";
/* import */
/*.overflow-scroll {
  padding-top: 13%;
}
ion-header-bar.bar.bar-positive.custom-color.bar-header {
  height: 190px;

  .title {
    position: relative;
    margin: auto;
    display: block;
    padding: 0;
    height: auto;
    padding: 20px;
    font-size: 36px;
    color: $black;
  }
}*/
.title.title-center.header-item,
.mynavbar {
  height: 180px; }
  .title.title-center.header-item .title-label,
  .mynavbar .title-label {
    margin: 5px; }
    .title.title-center.header-item .title-label.big h1,
    .mynavbar .title-label.big h1 {
      font-size: 83px; }
  .title.title-center.header-item button.button.back-button.buttons.button-icon.ion-arrow-left-c.header-item,
  .mynavbar button.button.back-button.buttons.button-icon.ion-arrow-left-c.header-item {
    height: 10px; }

.has-header {
  top: 180px; }

.custom-color {
  background-color: #facd00; }
  .custom-color.bar.bar-positive {
    background-color: #facd00;
    border-color: #facd00; }

/* CSS */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
.no-padding {
  padding: 0; }

.center {
  margin: auto;
  display: block;
  text-align: center; }

.bar.background-white {
  background-color: #fff;
  color: #facd00; }

ion-content {
  background-color: #fff;
  padding: 0; }

.fundo-inner {
  background-color: #facd00; }
  .fundo-inner.padding-inner {
    padding: 0px 0 15px; }
  .fundo-inner.border {
    border-bottom: 1px solid #000000; }

.title-label {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 0 0 10px; }
  .title-label hr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 25%; }
    .title-label hr:first-of-type {
      margin-top: 0; }

.title-secundary {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 60px 0 15px;
  width: 50%; }
  .title-secundary hr {
    border-bottom: 1px solid #000000;
    width: 75%; }
    .title-secundary hr:after {
      content: "⚫ ⚫ ⚫";
      color: #000000;
      background-color: #facd00;
      top: -20px;
      position: relative;
      padding: 15px; }

.button.save {
  background-color: #facd00;
  color: #fff; }

.button.cancel {
  background-color: #656565;
  color: #fff; }

.inner-white {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%; }

.text {
  color: #000000;
  margin: 15px auto; }
  .text.ballom {
    background-color: #000000;
    color: #fff;
    width: 50%;
    padding: 15px;
    margin: 15px auto 0; }
    .text.ballom:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #000000;
      display: block;
      margin: 15px auto;
      position: absolute;
      left: 50%; }

ion-side-menu .has-header {
  top: 44px; }

.container-side-menu a.item {
  color: #000000;
  border-color: #facd00;
  border: none;
  border-bottom: 2px solid #facd00; }
  .container-side-menu a.item label {
    font-size: 16px;
    font-weight: 500;
    color: #656565; }
  .container-side-menu a.item:first-of-type {
    border-top: 1px solid #facd00; }
  .container-side-menu a.item i.icon {
    color: #facd00;
    font-weight: 800;
    font-size: 24px;
    padding-right: 10px; }
  .container-side-menu a.item:hover {
    background-color: #facd00; }
    .container-side-menu a.item:hover i.icon {
      color: #fff; }
    .container-side-menu a.item:hover label {
      color: #fff; }

.container-login .title-label {
  font-size: 83px; }
  .container-login .title-label hr {
    width: 100%; }
.container-login .wrapper-login {
  margin-top: 15px; }
  .container-login .wrapper-login label .item {
    background-color: transparent;
    border: 1px solid #000000; }
  .container-login .wrapper-login .item-input {
    border-color: transparent;
    background-color: transparent;
    padding: 0; }
    .container-login .wrapper-login .item-input input {
      border: 1px solid #000000;
      height: 45px;
      padding: 0 15px;
      text-align: center; }
      .container-login .wrapper-login .item-input input:focus {
        background-color: #fff; }
  .container-login .wrapper-login .button {
    border-radius: 0;
    border: 1px solid #000000;
    text-transform: uppercase;
    font-weight: 800; }
    .container-login .wrapper-login .button.button-positive {
      background-color: #000000; }

.bar-footer.footer {
  background-color: #000000;
  color: #fff; }

.topo-menu .badge.badge-assertive {
  margin-top: -20px;
  left: -20px; }
.topo-menu.button-icon.ion-navicon {
  color: #000000; }

.container-home .opcoes.second .col-sm-15:first-of-type {
  margin-left: 10%; }

.name-top {
  padding: 15px 0 60px; }

.collapse-menu {
  height: 44px; }
  .collapse-menu .mynavbar,
  .collapse-menu .title.title-center.header-item {
    height: 44px; }

.collapse-content {
  top: 44px !important; }

.foto-wrapper .container-fluid {
  padding: 0; }
.foto-wrapper .container-foto {
  background-color: #fff; }
  .foto-wrapper .container-foto .wrapper.foto {
    min-height: 40vh; }
    .foto-wrapper .container-foto .wrapper.foto .img-responsive {
      text-align: center;
      border-radius: 50%;
      margin-top: -40%;
      width: 80%;
      border: 7px solid #facd00; }
    .foto-wrapper .container-foto .wrapper.foto .button-foto {
      background-color: #facd00;
      border-radius: 0;
      border: 1px solid #000000;
      color: #000000;
      font-weight: 800;
      margin: 30px auto; }
      .foto-wrapper .container-foto .wrapper.foto .button-foto:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #000000;
        display: block;
        margin: 15px auto;
        position: absolute;
        left: 50%;
        top: -23px; }
  .foto-wrapper .container-foto .wrapper.black {
    margin: 30px auto;
    border: #000000 1px solid; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6:first-child {
      padding-left: 0; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6:last-child {
      padding-right: 0; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6 .input-label {
      max-width: 135px;
      text-align: right; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6 .button {
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 800;
      padding: 0; }
    .foto-wrapper .container-foto .wrapper.black .fields {
      padding: 30px 0; }
      .foto-wrapper .container-foto .wrapper.black .fields .item {
        border-color: transparent; }
        .foto-wrapper .container-foto .wrapper.black .fields .item span {
          color: #facd00;
          font-weight: 800; }
        .foto-wrapper .container-foto .wrapper.black .fields .item input {
          border: 1px solid #facd00; }

.like-box {
  background-color: #0c60ee; }

.popup-pergunta .popup {
  width: 75%;
  height: 30%; }

.slider {
  height: 100%; }

.slider-slide {
  padding-top: 80px;
  color: #000000;
  background-color: #fff;
  text-align: center;
  font-weight: 300; }

/*CHAT MESSAGES*/
h1 {
  text-align: center; }

hr {
  border-color: #000000; }

.chat-text {
  position: fixed;
  bottom: 0; }

.chat-container {
  padding: 0; }
  .chat-container .search {
    margin: 0;
    border-color: #000000; }
    .chat-container .search .item {
      border-color: #000000;
      border-radius: 0; }
      .chat-container .search .item .placeholder-icon:last-child {
        margin-right: 20px; }
      .chat-container .search .item input {
        border-radius: 0;
        color: #facd00;
        text-align: center;
        width: auto;
        text-align: center;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
  .chat-container .box {
    background-color: #fff;
    display: block;
    margin: auto;
    min-height: 60vh;
    position: relative;
    padding: 0; }
    .chat-container .box .chat ul li {
      padding: 5px  30px; }
      .chat-container .box .chat ul li .item {
        border-color: #000000;
        border-top: none;
        border-left: none;
        border-right: none;
        min-height: 104px; }
        .chat-container .box .chat ul li .item h2 {
          font-weight: 500;
          font-size: 4vw;
          text-transform: uppercase;
          letter-spacing: 5px; }
        .chat-container .box .chat ul li .item img, .chat-container .box .chat ul li .item h2 {
          position: relative; }
        .chat-container .box .chat ul li .item .img-responsive {
          width: 60%; }
  .chat-container .chat-messages .header {
    border-color: transparent; }
  .chat-container .chat-messages .messages li {
    padding: 8px;
    border-radius: 9px;
    margin-top: 10px;
    width: 75%;
    clear: both; }
    .chat-container .chat-messages .messages li.mine {
      border: 1px solid #facd00;
      background-color: #facd00;
      border-color: #facd00;
      text-align: left; }
    .chat-container .chat-messages .messages li.from {
      border: 1px solid #fff;
      background-color: #fff;
      border-color: #e7e7e7;
      text-align: right;
      float: right;
      display: block; }
  .chat-container .wrapper-text-msg {
    padding-right: 0; }
    .chat-container .wrapper-text-msg div[class^='col-sm']:first-child {
      padding-right: 0; }
    .chat-container .wrapper-text-msg div[class^='col-sm']:last-child {
      padding: 0; }
    .chat-container .wrapper-text-msg .item {
      border-color: transparent;
      padding: 0; }
      .chat-container .wrapper-text-msg .item textarea, .chat-container .wrapper-text-msg .item input {
        border: 1px solid #000000;
        padding: 11px; }
    .chat-container .wrapper-text-msg .send-button {
      margin: 0;
      padding: 0;
      border-radius: 0;
      background-color: #facd00; }

.container-confirmacao .wrapper-label {
  margin: 80px auto 0; }
  .container-confirmacao .wrapper-label .label-confirmacao {
    border-bottom: 2px solid #000000;
    text-align: center;
    padding: 15px; }
    .container-confirmacao .wrapper-label .label-confirmacao:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #000000;
      display: block;
      margin: 15px auto;
      position: absolute;
      left: 49%;
      top: 50px; }
.container-confirmacao .button {
  padding: 5px 15px; }

.container-participantes .button {
  background-color: #fff;
  border: 1px solid #000000; }
.container-participantes .selected {
  background-color: #000000; }
  .container-participantes .selected i {
    color: #fff; }
.container-participantes input {
  background-color: #facd00;
  color: #000000;
  margin: 10px auto;
  border-radius: 0px;
  padding: 22px 5px;
  border-color: #facd00; }
.container-participantes .person {
  border: 1px solid #000000; }

.nuvem-container .wrapper-nuvem {
  min-height: 30vh;
  background-color: #facd00;
  position: relative; }
  .nuvem-container .wrapper-nuvem .form-control {
    position: absolute;
    border-radius: 0;
    border: 1px solid #000000;
    bottom: 10px;
    left: 5%;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    display: block; }

/*# sourceMappingURL=style.css.map */
