/* import */
@import "utilities/__variables";

/* CSS */
.wrapper-login{
  .item{
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 1px solid $color-border;
  }
}


.topo-menu {
  .badge.badge-assertive{
    margin-top: -20px;
    left: -20px;
  }
}