@charset "UTF-8";
/* import */
@import url(../fonts/stylesheet.css);
h1, h2, h3, h4, h5, h6,
span {
  font-family: "webfontregular"; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

/*.overflow-scroll {
  padding-top: 13%;
}
ion-header-bar.bar.bar-positive.custom-color.bar-header {
  height: 190px;

  .title {
    position: relative;
    margin: auto;
    display: block;
    padding: 0;
    height: auto;
    padding: 20px;
    font-size: 36px;
    color: $black;
  }
}*/
.title.title-center.header-item,
.mynavbar {
  height: 170px;
  border-bottom: 1px solid #000 !important; }
  .title.title-center.header-item .title-label,
  .mynavbar .title-label {
    margin: 5px; }
    .title.title-center.header-item .title-label.big h1,
    .mynavbar .title-label.big h1 {
      font-size: 83px; }
  .title.title-center.header-item button.button.back-button.buttons.button-icon.ion-arrow-left-c.header-item,
  .mynavbar button.button.back-button.buttons.button-icon.ion-arrow-left-c.header-item {
    height: 10px; }

.has-header {
  top: 170px; }

.has-footer .scroll {
  padding-bottom: 70px; }

.custom-color {
  background-color: #facd00; }
  .custom-color.bar.bar-positive {
    background-color: #facd00;
    border-color: #facd00; }

/* CSS */
input {
  border: 1px solid #facd00;
  padding: 5px 10px; }

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
.container-confirmacao,
.container-foto,
.container-home,
.container-login,
.container-participantes,
.container-pergunta,
.container-side-menu {
  font-family: "webfontregular"; }

.no-padding {
  padding: 0; }

.center {
  margin: auto;
  display: block;
  text-align: center; }

.bar.background-white {
  background-color: #fff;
  color: #facd00;
  border-color: #facd00;
  background-image: linear-gradient(0deg, #facd00, #facd00 50%, transparent 50%); }

ion-content {
  background-color: #fff;
  padding: 0; }

.fundo-inner {
  background-color: #facd00; }
  .fundo-inner.padding-inner {
    padding: 0px 0 15px; }
  .fundo-inner.border {
    border-bottom: 1px solid #000000; }

.title-label {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 0 0 10px; }
  .title-label hr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 25%;
    margin: 12px auto; }
    .title-label hr:first-of-type {
      margin-top: 0; }
  .title-label h1 {
    margin-top: 0; }
  .title-label h4 {
    text-transform: capitalize;
    font-size: 24px;
    margin: 0; }

.title-secundary {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 60px 0 15px;
  width: 50%; }
  .title-secundary hr {
    border-bottom: 1px solid #000000;
    width: 75%; }
    .title-secundary hr:after {
      content: "⚫ ⚫ ⚫";
      color: #000000;
      background-color: #facd00;
      top: -20px;
      position: relative;
      padding: 15px; }

.button.save {
  background-color: #facd00;
  color: #fff; }

.button.cancel {
  background-color: #656565;
  color: #fff; }

.inner-white {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%; }

.text {
  color: #000000;
  margin: 15px auto; }
  .text.ballom {
    background-color: #000000;
    color: #fff;
    width: 50%;
    padding: 15px;
    margin: 15px auto 0;
    font-family: "webfontregular"; }
    .text.ballom:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #000000;
      display: block;
      margin: 15px auto;
      position: absolute;
      left: 50%; }

ion-side-menu .has-header {
  top: 44px; }

.nota-Perfil .popup {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent; }
  .nota-Perfil .popup .popup-head {
    background-color: #facd00;
    color: #000000;
    border-bottom: 1px solid #000000;
    height: 90px; }
    .nota-Perfil .popup .popup-head h3 {
      font-size: 36px;
      font-family: "webfontregular";
      text-transform: uppercase;
      letter-spacing: 6px;
      margin: 10px auto; }
  .nota-Perfil .popup .popup-body {
    margin-top: 0;
    padding: 20px 60px; }
    .nota-Perfil .popup .popup-body textarea {
      min-height: 200px;
      border-radius: 0;
      border: 1px solid #000000; }
  .nota-Perfil .popup button.cancel {
    top: 20px;
    position: absolute;
    background-color: transparent;
    color: #000000; }
    .nota-Perfil .popup button.cancel:before {
      font-size: 41px; }
  .nota-Perfil .popup button.save {
    width: 25%;
    position: absolute;
    right: 60px;
    text-transform: uppercase;
    font-weight: 500; }

.container-side-menu a.item {
  color: #000000;
  border-color: #facd00;
  border: none;
  border-bottom: 2px solid #facd00; }
  .container-side-menu a.item label {
    font-size: 16px;
    font-weight: 500;
    color: #656565; }
  .container-side-menu a.item:first-of-type {
    border-top: 1px solid #facd00; }
  .container-side-menu a.item i.icon {
    color: #facd00;
    font-weight: 800;
    font-size: 24px;
    padding-right: 10px; }
  .container-side-menu a.item:hover {
    background-color: #facd00; }
    .container-side-menu a.item:hover i.icon {
      color: #fff; }
    .container-side-menu a.item:hover label {
      color: #fff; }

.no-border {
  border: none !important; }
  .no-border .title.title-center.header-item {
    border: none !important; }

.container-login {
  background-image: url("../img/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  .container-login .title-label {
    font-size: 83px; }
    .container-login .title-label hr {
      width: 100%; }
  .container-login .wrapper-login {
    margin-top: 15px; }
    .container-login .wrapper-login label .item {
      background-color: transparent;
      border: 1px solid #000000; }
    .container-login .wrapper-login .item-input {
      border-color: transparent;
      background-color: transparent;
      padding: 0; }
      .container-login .wrapper-login .item-input input {
        border: 1px solid #000000;
        height: 45px;
        padding: 0 15px;
        text-align: center; }
        .container-login .wrapper-login .item-input input:focus {
          background-color: #fff; }
    .container-login .wrapper-login .button {
      border-radius: 0;
      border: 1px solid #000000;
      text-transform: uppercase;
      font-weight: 800; }
      .container-login .wrapper-login .button.button-positive {
        background-color: #000000; }

.bar.bar-stable.bar-footer.footer {
  background-color: transparent;
  background-image: none;
  border: none;
  color: #fff;
  height: 90px;
  padding: 0; }

.topo-menu .badge.badge-assertive {
  margin-top: -20px;
  left: -20px; }
.topo-menu.button-icon.ion-navicon {
  color: #000000; }

.container-home {
  background-image: url("../img/background-home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center; }
  .container-home .opcoes { margin-top: 30px; }
  .container-home .opcoes .circle {
    border-radius: 50%;
    border: 4px solid #facd00;
    text-align: center;
    padding: 15px 0;
    background: #fff; }
    .container-home .opcoes .circle .img-responsive {
      max-width: 85%;
      margin: auto; }
    .container-home .opcoes .circle h4 {
      color: #000000; }
  .container-home .opcoes.second .col-sm-15:first-of-type {
    margin-left: 10%; }

.name-top {
  padding: 15px 0 20px; }

.collapse-menu {
  height: 44px;
  border: none !important; }
  .collapse-menu .mynavbar,
  .collapse-menu .title.title-center.header-item {
    height: 44px;
    border: none !important; }

.collapse-content {
  top: 44px !important; }

.foto-wrapper .container-fluid {
  padding: 0; }
.foto-wrapper .container-foto {
  background-color: #fff; }
  .foto-wrapper .container-foto .wrapper.foto {
    min-height: 40vh; }
    .foto-wrapper .container-foto .wrapper.foto .img-responsive {
      text-align: center;
      border-radius: 50%;
      margin-top: -40%;
      width: 80%;
      border: 7px solid #facd00; }
    .foto-wrapper .container-foto .wrapper.foto .button-foto {
      background-color: #facd00;
      border-radius: 0;
      border: 1px solid #000000;
      color: #000000;
      font-weight: 500;
      margin: 30px auto;
      font-size: 20px; }
      .foto-wrapper .container-foto .wrapper.foto .button-foto:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #000000;
        display: block;
        margin: 15px auto;
        position: absolute;
        left: 50%;
        top: -23px; }
  .foto-wrapper .container-foto .wrapper.black {
    margin: 30px auto;
    border: #000000 1px solid; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6:first-child {
      padding-left: 0; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6:last-child {
      padding-right: 0; }
    .foto-wrapper .container-foto .wrapper.black .col-sm-6 .button {
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0; }
    .foto-wrapper .container-foto .wrapper.black .fields {
      padding: 30px 0; }
      .foto-wrapper .container-foto .wrapper.black .fields .item {
        border-color: transparent; }
        .foto-wrapper .container-foto .wrapper.black .fields .item span {
          color: #facd00;
          font-weight: 800;
          max-width: 95px;
          text-align: right; }
        .foto-wrapper .container-foto .wrapper.black .fields .item input {
          border: 1px solid #facd00;
          padding: 5px 10px;
          font-weight: 500; }

.like-box {
  background-color: #0c60ee; }

.popup-pergunta .popup {
  width: 75%;
  height: 30%; }

.slider {
  height: 100%; }

.slider-slide {
  padding-top: 80px;
  color: #000000;
  background-color: #fff;
  text-align: center;
  font-weight: 300; }

/*CHAT MESSAGES*/
h1 {
  text-align: center; }

hr {
  border-color: #000000; }

.chat-text {
  position: relative;
  bottom: 0; }
  .chat-text ion-footer-bar.bar.bar-stable.bar-footer {
    background: transparent;
    background-color: transparent;
    background-image: linear-gradient(top, transparent, transparent);
    padding: 25px; }
    .chat-text ion-footer-bar.bar.bar-stable.bar-footer div {
      background: none; }

.chat-container {
  padding: 0; }
  .chat-container .search {
    margin: 0;
    border-color: #000000; }
    .chat-container .search .item {
      border-color: #000000;
      border-radius: 0; }
      .chat-container .search .item .placeholder-icon:last-child {
        margin-right: 20px; }
      .chat-container .search .item input {
        border-radius: 0;
        color: #facd00;
        text-align: center;
        width: auto;
        text-align: center;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
  .chat-container .box {
    background-color: #fff;
    display: block;
    margin: auto;
    min-height: 60vh;
    position: relative;
    padding: 0; }
    .chat-container .box .chat ul li {
      padding: 5px  30px; }
      .chat-container .box .chat ul li .item {
        border-color: #000000;
        border-top: none;
        border-left: none;
        border-right: none;
        min-height: 104px; }
        .chat-container .box .chat ul li .item h2 {
          font-weight: 500;
          font-size: 4vw;
          text-transform: uppercase;
          letter-spacing: 5px; }
        .chat-container .box .chat ul li .item img, .chat-container .box .chat ul li .item h2 {
          position: relative; }
        .chat-container .box .chat ul li .item .img-responsive {
          width: 60%; }
  .chat-container .chat-menu .chat-topo .item.item-avatar {
    border: transparent; }
  .chat-container .chat-menu .bar-subheader {
    height: auto !important;
    padding: 0 !important; }
  .chat-container .chat-menu .item.item-avatar {
    border: none !important; }
  .chat-container .chat-messages .header {
    border-color: transparent; }
  .chat-container .chat-messages .messages li {
    padding: 8px;
    border-radius: 9px;
    margin-top: 10px;
    max-width: 75%;
    clear: both; }
    .chat-container .chat-messages .messages li.mine {
      border: 1px solid #facd00;
      background-color: #facd00;
      border-color: #facd00;
      text-align: left;
      float: right; }
    .chat-container .chat-messages .messages li.from {
      border: 1px solid #fff;
      background-color: #fff;
      border-color: #e7e7e7;
      text-align: right;
      float: left;
      margin-left: 20px;
      display: block; }
  .chat-container .chat-messages .row.row-top {
    margin: auto;
    width: 100%;
    padding: 0; }
    .chat-container .chat-messages .row.row-top > div[class^='col'] {
      padding: 0; }
    .chat-container .chat-messages .row.row-top .item.item-avatar.header,
    .chat-container .chat-messages .row.row-top .list-card {
      background-color: #facd00; }
  .chat-container .wrapper-text-msg {
    margin-top: 30px;
    padding-right: 0; }
    .chat-container .wrapper-text-msg div[class^='col-sm']:first-child {
      padding-right: 0; }
    .chat-container .wrapper-text-msg div[class^='col-sm']:last-child {
      padding: 0; }
    .chat-container .wrapper-text-msg .item {
      border-color: transparent;
      padding: 0; }
      .chat-container .wrapper-text-msg .item textarea, .chat-container .wrapper-text-msg .item input {
        font-family: "webfontregular";
        border: 1px solid #000000;
        padding: 11px; }
    .chat-container .wrapper-text-msg .send-button {
      margin: 0;
      padding: 6px;
      border-radius: 0;
      background-color: #facd00; }
  .chat-container.has-footer .scroll {
    padding: 0;
    height: 90%; }

.container-confirmacao .wrapper-label {
  margin: 80px auto 0; }
  .container-confirmacao .wrapper-label .label-confirmacao {
    border-bottom: 2px solid #000000;
    text-align: center;
    padding: 15px;
    color: #000000; }
    .container-confirmacao .wrapper-label .label-confirmacao:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #000000;
      display: block;
      margin: 15px auto;
      position: absolute;
      left: 49%;
      top: 50px; }
.container-confirmacao .button {
  padding: 5px 15px; }

.container-participantes .button {
  background-color: #fff;
  border: 1px solid #000000; }
.container-participantes .selected {
  background-color: #000000; }
  .container-participantes .selected i {
    color: #fff; }
.container-participantes .search {
  background-color: #facd00;
  height: 47px;
  margin: 10px auto;
  border-radius: 0; }
  .container-participantes .search i:before {
    color: #000000;
    font-size: 25px; }
  .container-participantes .search input {
    background-color: #facd00;
    color: #000000;
    margin: 10px auto;
    border-radius: 0px;
    padding: 22px 5px;
    border-color: #facd00;
    box-shadow: none; }
.container-participantes .list .person {
  border-left: 1px solid transparent; }
  .container-participantes .list .person:nth-child(2n) {
    border-left: 1px solid #000000; }
  .container-participantes .list .person .line {
    border-bottom: 1px solid #000000;
    padding: 15px 0px;
    min-height: 120px; }
    .container-participantes .list .person .line img {
      border-radius: 50%;
      border: 5px solid #facd00;
      padding: 5px; }
.container-participantes .person {
  position: relative; }
  .container-participantes .person .float-second {
    display: none; }
  .container-participantes .person .float {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    position: absolute;
    top: 15px;
    height: 85%;
    display: block;
    margin: auto;
    margin-left: -15px; }
  .container-participantes .person .grid-item {
    border-bottom: 1px solid #000000; }
  .container-participantes .person.person:last-of-type .float-second, .container-participantes .person.person:nth-child(4n) .float-second {
    display: block;
    right: 0; }

.nuvem-container .wrapper-nuvem {
  background-color: #facd00;
  position: relative; }
  .nuvem-container .wrapper-nuvem,
  .nuvem-container .wrapper-nuvem .palavras {
    min-height: 30vh; }
  .nuvem-container .wrapper-nuvem ion-scroll {
    max-height: 25vh;
    margin-top: 20px; }
  .nuvem-container .wrapper-nuvem .form-control {
    border-radius: 0;
    border: 1px solid #000000;
    width: 100%;
    padding: 22px;
    box-sizing: border-box;
    margin: auto;
    display: block; }
  .nuvem-container .wrapper-nuvem .palavras {
    height: 30vh; }
  .nuvem-container .wrapper-nuvem .save {
    border-color: #000000;
    border-radius: 0;
    margin: 0;
    padding: 0; }

.container-quiz {
  padding: 15px 0; }
  .container-quiz ion-slide {
    padding-top: 0; }
    .container-quiz ion-slide .scroll {
      padding-bottom: 0; }
    .container-quiz ion-slide .question-label {
      color: #facd00;
      text-align: left; }
    .container-quiz ion-slide .question li {
      text-align: left;
      padding: 20px 10px 10px;
      border-bottom: 1px solid #000000; }
      .container-quiz ion-slide .question li:last-of-type {
        border-bottom: none; }
      .container-quiz ion-slide .question li label {
        font-size: 25px;
        color: #facd00;
        font-family: "webfontregular";
        font-weight: 800;
        border-radius: 50%;
        border: 5px solid #facd00;
        padding: 0px 10px;
        text-align: center; }
      .container-quiz ion-slide .question li h3 {
        display: inline;
        font-weight: 500;
        font-family: "webfontregular";
        padding-left: 30px;
        font-size: 19px; }
      .container-quiz ion-slide .question li.selected {
        background-color: #facd00;
        color: #fff; }
        .container-quiz ion-slide .question li.selected label {
          color: #fff;
          border-color: #fff; }
  .container-quiz .save-button {
    margin-top: -75px;
    display: block;
    text-align: right; }

.container-pergunta .button {
  color: #000000;
  font-weight: 800;
  text-transform: uppercase; }
.container-pergunta .title-pergunta {
  font-size: 24em;
  color: #000000;
  text-transform: uppercase;
  font-size: 3em; }
.container-pergunta .pergunta {
  border: none;
  padding-bottom: 0;
  margin-bottom: 3px; }
  .container-pergunta .pergunta p {
    padding: 10px;
    width: 100%;
    white-space: normal; }
  .container-pergunta .pergunta .badge {
    float: right; }
  .container-pergunta .pergunta hr {
    border-bottom: 1px solid #facd00;
    color: #facd00;
    border-color: #facd00;
    margin-bottom: 0; }
  .container-pergunta .pergunta.aproved {
    background-color: #facd00;
    color: #fff; }
    .container-pergunta .pergunta.aproved p {
      color: #fff; }
    .container-pergunta .pergunta.aproved .icon {
      display: none; }
    .container-pergunta .pergunta.aproved .ion-checkmark-round {
      display: block;
      text-shadow: #000000 0px 0px 5px; }
  .container-pergunta .pergunta.reproved {
    background-color: #656565;
    color: #fff; }
    .container-pergunta .pergunta.reproved p {
      color: #fff; }
    .container-pergunta .pergunta.reproved .icon {
      display: none; }
    .container-pergunta .pergunta.reproved .ion-close-round {
      display: block;
      text-shadow: #000000 0px 0px 5px; }

.popup-quiz .popup {
  top: 10%;
  left: 0;
  position: absolute;
  width: 90%;
  height: 80%;
  margin: auto 5%; }
  .popup-quiz .popup .answers .alternativa {
    border: 2px solid #facd00;
    border-radius: 50%;
    font-weight: 800; }

/*# sourceMappingURL=style.css.map */
