/* import */
@import "utilities/__variables";
@import "../fonts/stylesheet.css";

h1,h2,h3,h4,h5,h6,
span {
  font-family: $font;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
//Ionic Header
/*.overflow-scroll {
  padding-top: 13%;
}
ion-header-bar.bar.bar-positive.custom-color.bar-header {
  height: 190px;

  .title {
    position: relative;
    margin: auto;
    display: block;
    padding: 0;
    height: auto;
    padding: 20px;
    font-size: 36px;
    color: $black;
  }
}*/


.title.title-center.header-item,
.mynavbar {

  height: 180px;
  border-bottom: 1px solid #000 !important;


  .title-label{
    &.big {
      h1 {
        font-size: 83px;
      }
    }
    margin: 5px;
  }

  button.button.back-button.buttons.button-icon.ion-arrow-left-c.header-item{
    height: 10px;
  }

}

.has-header{
  top: 180px;
}

.has-footer {
  .scroll {
    padding-bottom: 80px;
  }


}

.custom-color {
  &.bar.bar-positive{
    background-color: $color-primary;
    border-color: $color-primary;
  }
  background-color: $color-primary;
}



/* CSS */

//Classes Genericas
input {
  border: 1px solid $color-primary;
  padding: 5px 10px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}


.container-confirmacao,
.container-foto,
.container-home,
.container-login,
.container-participantes,
.container-side-menu {
  font-family: $font;
}

.no-padding {
  padding: 0;
}
.center {
  margin: auto;
  display: block;
  text-align: center;
}
.bar.background-white {
  background-color: $font-white;
  color: $color-primary;
  border-color: $color-primary;
  background-image: linear-gradient(0deg, $color-primary, $color-primary 50%, transparent 50%);
}
ion-content {
  background-color: $font-white;
  padding: 0;
}

.fundo-inner {
  background-color: $color-primary;

  &.padding-inner {
    padding: 0px 0 15px;
  }

  &.border {
    border-bottom: 1px solid $black;
  }
}


.title-label {

  text-transform: uppercase;
  color: $black;
  text-align: center;
  padding: 0 0 10px;
  hr {
    border-top: 1px solid $font-white;
    border-bottom: 1px solid $font-white;
    width: 25%;
    margin: 12px auto;
    
    &:first-of-type{
      margin-top: 0;;
    }
  }
  h4{
    text-transform: capitalize;
    font-size: 24px;
    margin: 0;
  }
}

.title-secundary {
  text-transform: uppercase;
  color: $black;
  text-align: center;
  padding: 60px 0 15px;
  width: 50%;
  hr {
    border-bottom: 1px solid $black;
    width: 75%;
    &:after {
      content: "⚫ ⚫ ⚫";
      color: $black;
      background-color: $color-primary;
      top: -20px;
      position: relative;
      padding: 15px;
    }
  }
}

.button.save {
  background-color: $color-primary;
  color: $font-white;
}

.button.cancel {
  background-color: $gray;
  color: $font-white;

}

.inner-white {
  background-color: $font-white;
  position: absolute;
  width:100%;
  height: 100%;
}



.seta-top {
  &:before {

  }
}

.text {
  color: $black;
  margin: 15px auto;



  &.ballom {
    background-color: $black;
    color: $font-white;
    width: 50%;
    padding: 15px;
    margin: 15px auto 0;
    font-family: $font;

    &:after {
      content:"";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $black;
      display: block;
      margin: 15px auto;
      position: absolute;
      left: 50%;
    }
  }
}

//Side Menu
ion-side-menu{
  .has-header{
    top:44px;
  }
}
.nota-Perfil {
  .popup{
    width: 100%;
    top:0;
    left: 0;
    position: absolute;
    background: transparent;

    .popup-head {
      background-color:$color-primary;
      color: $black;
      border-bottom: 1px solid $black;
      height: 90px;
      h3{
        font-size: 36px;
        font-family: $font;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 10px auto;

      }

    }

    .popup-body {
      margin-top:0;
      padding: 20px 60px;
      textarea{
        min-height: 200px;
        border-radius: 0;
        border: 1px solid $black;
      }
    }
    button.cancel {
      top: 20px;
      position: absolute;
      background-color: transparent;
      color: $black;

      &:before{
        font-size: 41px;
      }

    }

    button.save {
      width: 25%;
      position: absolute;
      right: 60px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

}
.container-side-menu {
  a.item {
    color: $black;
    border-color: $color-primary;
    border: none;
    border-bottom: 2px solid $color-primary;
    label {
      font-size: 16px;
      font-weight: 500;
      color: $gray;
    }
    &:first-of-type {
      border-top: 1px solid $color-primary;
    }

    i.icon{
      color: $color-primary;
      font-weight: 800;
      font-size: 24px;
      padding-right: 10px;

    }

    &:hover {
      background-color: $color-primary;
      i.icon{
        color: $font-white;
      }
      label {
        color: $font-white;
      }
    }


  }
}

//Login
.no-border {
  border: none !important;
  .title.title-center.header-item{
    border: none !important;
  }
}
.container-login {
  background-image: url('../img/background-login.jpg');
  .title-label {
    font-size: 83px;
    hr {
      width: 100%;
    }
  }
  .wrapper-login {
    margin-top: 15px;
    //border: 1px solid $black;

    label {
      .item {
        background-color: transparent;
        border: 1px solid $black;
      }

    }
    .item-input {
      border-color: transparent;
      background-color: transparent;
      padding: 0;
      input {
        border: 1px solid $black;
        height: 45px;
        padding: 0 15px;
        text-align: center;
        &:focus {
          background-color: $font-white;
        }
      }

    }

    .button {
      border-radius: 0;
      border: 1px solid $black;
      text-transform: uppercase;
      font-weight: 800;

      &.button-positive {
        background-color: $black;

      }
    }
  }
}

.bar.bar-stable.bar-footer.footer{
  background-color: transparent;
  background-image: none;
  border: none;
  color: $font-white;
  height: 100px;
  padding: 0;

}


//Home
.topo-menu {
  .badge.badge-assertive{
    margin-top: -20px;
    left: -20px;
  }
  &.button-icon.ion-navicon{
    color: $black;
  }
}
.container-home {
  background-image: url('../img/background-home.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  .container-fluid {
    padding-left:5%;
  }
  .opcoes {
    &.second {
      .col-sm-15:first-of-type{
        margin-left: 10%;
      }
    }
  }
}





//Foto
.name-top {
  padding: 15px 0 20px;
}

.collapse-menu{
  height: 44px;
  border: none !important;
  .mynavbar,
  .title.title-center.header-item {
    height: 44px;
    border: none !important;
  }
}
.collapse-content{
  top:44px !important;
}

.foto-wrapper {

  .container-fluid{
    padding: 0;
  }
  .container-foto {
    background-color: $font-white;
    .wrapper {

      &.foto {
        min-height: 40vh;

        .img-responsive {
          text-align: center;
          border-radius: 50%;
          margin-top: -40%;
          width: 80%;
          border: 7px solid $color-primary;
        }

        .button-foto {
          background-color: $color-primary;
          border-radius: 0;
          border: 1px solid $black;
          color: $black;
          font-weight: 500;
          margin: 30px auto;
          font-size: 20px;
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $black;
            display: block;
            margin: 15px auto;
            position: absolute;
            left: 50%;
            top: -23px;
          }
        }

      }
      &.black {
        margin: 30px auto;
        border: $black 1px solid;
        .col-sm-6 {
          &:first-child{
            padding-left: 0;
          }

          &:last-child{
            padding-right:0 ;
          }

          .button {
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0;


          }
        }

        .fields{
          padding: 30px 0;
          .item {
            border-color: transparent;
            span {
              color: $color-primary;
              font-weight: 800;
              max-width: 95px;
              text-align: right;
            }
            input {
              border: 1px solid $color-primary;
              padding: 5px 10px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}



.like-box {
  background-color: $blue-dark-color;
}

.popup-pergunta {
  .popup {
    width: 75%;
    height: 30%;
  }
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: $black;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}


/*CHAT MESSAGES*/
h1{
  text-align: center;
}
hr {
  border-color: $black;

}

//Conversation
.chat-text {
  position: fixed;
  bottom: 0;

  ion-footer-bar.bar.bar-stable.bar-footer {
    background: transparent;
    background-color: transparent;
    background-image: linear-gradient(top,transparent,transparent);
    padding: 25px;
    div{
      background: none;
    }
  }

}
.chat-container{

  padding: 0;


  //Barra de Busca
  .search {
    margin: 0;
    border-color: $black;
    .item {

      border-color: $black;
      //background-color: $black;
      border-radius: 0;

      .placeholder-icon:last-child{
        margin-right:20px;
      }
      .focus{
        //text-align: left;

      }

        input {
          border-radius: 0;
          color: $color-primary;
          text-align: center;
          width: auto;
          text-align: center;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;

        }

    }
  }



  .box {
    background-color: #fff;

    display: block;
    margin: auto;
    min-height:60vh;
    position: relative;
    padding: 0;

    .chat {
      ul {
        li {
          padding: 5px  30px;
          //Conversas e mensagens
          .item {
            border-color: $black;
            border-top: none;
            border-left: none;
            border-right: none;
            min-height: 104px;
            h2 {
              font-weight: 500;
              font-size: 4vw;
              text-transform: uppercase;
              letter-spacing: 5px;
            }
            img,h2 {
              position: relative;
            }
            .img-responsive {
              width: 60%;
            }
          }
        }
      }
    }
  }

  //Chat Messages
  .chat-menu {
    .chat-topo {
      .item.item-avatar{
        border: transparent;
      }
    }
    .bar-subheader{
      height: auto !important;
      padding:0 !important;
    }

    .item.item-avatar {
      border: none !important;
    }
  }
  .chat-messages{
    .header {
      border-color: transparent;
    }

    .messages {
      li {
        padding: 8px;
        border-radius: 9px;
        margin-top: 10px;
        max-width: 75%;
        clear: both;

        &.mine {
          border:1px solid $chat-balom-color;
          background-color: $chat-balom-color;
          border-color: $chat-balom-border-color;
          text-align: left;
          float: right;

        }

        &.from {
          border:1px solid $chat-balom-from-color;
          background-color: $chat-balom-from-color;
          border-color: $chat-balom-from-border-color;
          text-align: right;
          float: left;
          margin-left: 20px ;
          display: block;
        }
      }
    }
  }

  //Campo para digitar mensagem
  .wrapper-text-msg{
    //Pega o primeiro grid, o de texto
    div[class^='col-sm']:first-child{
      padding-right: 0;
    }
    //Pega o ultimo grid, q é o botão
    div[class^='col-sm']:last-child{
      padding: 0;
    }
      padding-right: 0;
      .item {
        border-color: transparent;
        padding: 0;
        textarea,input {
          font-family: $font;
          border: 1px solid $black;
          padding: 11px;
        }
      }


    .send-button {
      margin: 0;
      padding: 6px;
      border-radius: 0;
      background-color: $color-primary;
    }
  }
}

//Container Confirmação
.container-confirmacao {
  .wrapper-label {
    margin: 80px auto 0;
    .label-confirmacao {
      border-bottom: 2px solid $black;
      text-align: center;
      padding: 15px;
      color: $black;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $black;
        display: block;
        margin: 15px auto;
        position: absolute;
        left: 49%;
        top: 50px;
      }
    }
  }

  .button {
    padding: 5px 15px;
  }
}

//Participantes
.container-participantes {

  .button {
    background-color: $font-white;
    border: 1px solid $black;
  }
  .selected {
    background-color: $black;
    i {
      color: $font-white;
    }
  }

  .search {
    background-color: $color-primary;
    height: 47px;
    margin: 10px auto;
    border-radius: 0;
    i{
      &:before{
        color: $black;
        font-size:25px;
      }
    }
    input {
      background-color: $color-primary;
      color: $black;
      margin: 10px auto;
      border-radius: 0px;
      padding: 22px 5px;
      border-color: $color-primary;
      box-shadow: none;
    }
  }


  .list {


    .person {
      border-left: 1px solid transparent;
      &:nth-child(2n){
        border-left: 1px solid $black;
      }
      .line{
        border-bottom: 1px solid $black;
        padding: 15px 0px;
        min-height: 120px;

        img {
          border-radius: 50%;
          border: 5px solid $color-primary;
          padding: 5px;

        }
      }
    }
  }

  .person {
    position: relative;

    .float-second{
      display: none;
    }

    .float{
      border-left: 1px solid $black;
      border-right: 1px solid $black;
      position: absolute;
      top: 15px;
      height: 85%;
      display: block;
      margin: auto;
      margin-left: -15px;

    }

    .grid-item {
      border-bottom: 1px solid $black;
    }
    &.person:last-of-type,
    &.person:nth-child(4n){

      .float-second{
        display: block;
        right: 0;

      }
    }
  }


}

//Nuvem de Palabras
.nuvem-container {
  .wrapper-nuvem {
    min-height: 30vh;
    background-color: $color-primary;
    position: relative;
    .form-control {
      position: absolute;
      border-radius: 0;
      border: 1px solid $black;
      bottom: 10px;
      left: 5%;
      width: 90%;
      box-sizing: border-box;
      margin: auto;
      display: block;
    }
  }
}
